/* Homepage */

.home-container {
    z-index: 9999 !important;
    float: left;
    padding-left: 15%;
    color: white;
    margin-top: 37vh;
    backdrop-filter: blur(1px);
}

.home-container p {
    text-shadow: 1px 1px 2px #9e0081 !important;
}

.carousel .one {
    background: linear-gradient(rgba(255, 255, 255, 0.062), #00000081), 
                url('/static/images/newsletter.webp') !important;
}

.carousel .two {
    background: linear-gradient(rgba(255, 255, 255, 0.062), #00000081), 
                url('/static/images/shop-new.webp') !important;
}

.carousel .three {
    background: linear-gradient(rgba(255, 255, 255, 0.062), #00000081), 
                url('/static/images/shop-shoes.webp') !important;
}

.carousel .one,
.carousel .two,
.carousel .three {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -moz-background-size: contain !important;
    height: 70vh !important;
    max-width: 100vw !important;
    bottom: 0;
}


/* Newsletter */

#mc_embed_signup {
    background: black;
    clear: left; 
    width: 600px;
}

.mc-field-group input {
    width: 80% !important;
    margin: auto !important;
    clear: left;
}

.subscribe-modal {
    z-index: 9999999999999999999999999 !important;
}

.modal-content {
    background-image: url(/static/images/peter-gargiulo-cGNCepznaV8-unsplash.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    box-shadow: 3px 3px 45px #640152, -3px -3px 40px #640152 !important;
}

.chimp {
    opacity: 0 !important;
}