/* FAQ */

.card {
    border-color: #50304a !important;
    border-radius: 0 !important;
    background-color: #08080875 !important;
    backdrop-filter: blur(2px);
    max-width: 65vw !important;   
}

.card .btn-link {
    color: #50304a;
    font-size: 1.5rem;
    text-shadow: 1px 1px 4px #9e0081 !important;
}

.card .btn-link:hover {
    color: white;
    text-decoration: none;
}

.card-header {
    background-color: #2f2f2f42 !important;
    backdrop-filter: blur(2px);    
}
