{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% load crispy_forms_filters %} 
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Checkout" %}{% endblock %}

{% block content %}

<div class="bg-darkground text-light">
    
    {% if bag_items %}
    
    <div class="row mb-5 text-center text-lg-left">
        <div class="col-sm-12 col-lg-6">
            <h2 class="uppercase display-4 text-center my-3">Order Details</h2>
            <div class="bag mt-4 my-2">            
                <div class="d-flex flex-row flex-wrap justify-content-between checkout-products"> 

                    {% for item in bag_items %}
                        
                        <div class="row p-1 my-auto product-capper d-flex flex-column flex-md-row">
                            <div class="col-md-3">

                                {% if item.product.image %}

                                <img class="img-bag-checkout" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">

                                {% else %}
                
                                <img src="{% static 'images/no-img.webp' %}" class="img-bag-checkout" alt="{{ item.product.name }}">
                                
                                {% endif %}

                            </div>
                            <div class="col-md-9">
                                <small class="p-1">
                                    <p class="m-0"><b>{{ item.product.name }}</b></p>                                
                                    <p>{{ item.product.price }}</p>
                                </small>
                            </div>                            
                        </div>  
                    
                    {% endfor %}

                </div>                    
                <div class="row bag border-top my-2">
                    <div class="col-lg-8 col-sm-12 text-lg-left text-right justify-content-end justify-content-lg-start">
                        <small>
                            <p>
                                <b>Subtotal:</b> {{ subtotal }}
                            </p>
                            <p>
                                <b>Shipping:</b> {{ shipping|floatformat:2 }}
                            </p>
                        </small>
                        <form action="" method="POST" class="d-flex flex-row justify-content-lg-start justify-content-end discount">
                            {% csrf_token %}
                            <label for="discount_input" aria-labelledby="discount_input">
                                Enter your discount code here
                            </label>
                            <span>
                                <input type="text" name="discount" id="discount_input" placeholder="Enter discount code" 
                                   class="form-control border-dark rounded-0" autocomplete="name">
                            </span>
                            <span>
                                <input class="btn btn-lg megrim rounded-0 px-2 font-weight-bold" type="submit" 
                                    value="%" aria-label="Add discount">
                            </span>
                            
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                    <div class="col-lg-4 col-sm-12 d-flex flex-row justify-content-end">                        
                        <h3 class="text-uppercase mr-4">Total:</h3>                        
                        <span class="text-prpl price-total">
                            {{ grand_total|floatformat:2 }}€
                        </span>
                    </div>
                </div>           
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 py-lg-0 mt-5 mt-lg-0 border-sm-top">
            <h2 class="uppercase display-4 text-center my-3">
                Shipping and Card details
            </h2>
            <div class="col-sm-12 col-lg-6 py-0 px-1 mt-5 mt-lg-0 my-auto pl-lg-5 p-sm-auto border-checkout">
                <form action="{% url 'checkout' %}" method="POST" id="pay_form" class="my-auto">
                    {% csrf_token %}
                    <fieldset class="rounded-0 my-5 my-auto">
                        <legend class="fieldset-label megrim text-uppercase">
                            Your details
                        </legend>
                        {{ order_form.first_name | as_crispy_field }}
                        {{ order_form.last_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded-0 my-5 my-auto">
                        <legend class="fieldset-label megrim text-uppercase">
                            Shipping details
                        </legend>
                        {{ order_form.address_line1 | as_crispy_field }}
                        {{ order_form.address_line2 | as_crispy_field }}
                        {{ order_form.address_line3 | as_crispy_field }}
                        {{ order_form.city | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.region | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0 text-light">
							{% if user.is_authenticated %}
								<label class="form-check-label my-auto visible" for="info_save">Save this shipping details to my profile</label>
                                <input class="form-check-input ml-2 mr-0 mt-3" type="checkbox" id="info_save" name="info_save" checked>
							{% else %}
								<label class="form-check-label" for="info_save">
                                    <a class="text-prpl font-weight-bold" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-prpl font-weight-bold" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="rounded-0 my-5 my-auto">
                        <legend class="fieldset-label megrim text-uppercase">Payment</legend>
                        <!-- Room for Stripe card -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- For form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <div class="row d-flex flex-row justify-content-between order-buttons-container mt-3">
                        <div class="col-12 col-md-5 mr-0 my-2 p-2 text-center text-md-left">                   
                            <a href="{% url 'bag_view' %}" class="btn mx-3 mx-lg-0">
                                <span>
                                    <i class="fa-solid fa-arrow-left text-prpl"></i>
                                </span>
                                <span class="megrim text-light text-uppercase font-weight-bold">Adjust Bag</span>
                            </a>
                        </div>
                        <div class="col-12 col-md-7 mr-0 my-2 text-center text-md-right">
                            <button id="submit-button" class="btn button-bl-prpl px-4 mx-3 mx-lg-0 rounded-0">
                                <span class="icon">
                                    <i class="fas fa-lock text-prpl"></i>
                                </span>
                                <span class="megrim font-weight-bold">Complete Order</span>
                                
                            </button>
                            <p class="text-danger mb-4 mr-1 text-center text-md-right">
                                <span class="icon">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                </span>
                                <span>
                                    <small>Your card will be charged <strong>{{ grand_total|floatformat:2 }}€</strong></small>
                                </span>
                            </p>
                        </div>
					</div>
                </form>
            </div>
        </div>
    </div>
    <div id="checkout-loading">
        <div class="text-center spinner">
            <button class="button-bl-prpl btn-lg" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
    {% else %}
    <div class=" p-5 text-center">
        <p class="h4 text-center megrim">
            <i class="fa-solid fa-skull-crossbones text-prpl"></i>
            Oh no!
            <i class="fa-solid fa-skull-crossbones text-prpl"></i>
        </p>
        <p class="h4 text-center megrim">Your bag is empty!</p>
    </div>
    <div class=" p-5 text-center">
        <a href="{% url 'products' %}">
            <button class="btn btn-lg button-bl-prpl text-light megrim mt-3 rounded-lg-0 px-4" type="button">
                Back to shop
            </button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}