@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap');


/* General settings */

html {
    max-width: 100vw;
    background-color: black;
    height: 100vh !important;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
    overflow-y: hidden !important;
    background-color: black !important;
    max-width: 100vw !important;
    height: 100vh !important;
}

main {
    background-color: black !important;
    max-width: 100vw;
    margin: 0 auto !important;
    padding-top: 10vh !important;
    max-height: 90vh !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    position: sticky;
}

.main-content {
    padding: 2%;
    margin: auto !important;
}

/* Fonts */

h1,h2,h3,h4,h5 {
    font-family: 'Megrim', system-ui;
}

.font-light {
    font-weight: 100;
}

label, .small-font {
    font-size: small !important;
}

.megrim {
    font-family: 'Megrim', system-ui;
}

/* Navigation */

header {
    background-color: white !important;
}

#main-navbar,footer {
    background-color: #2F2F2F !important;
}

#navbar-top {
    background-color: white !important;
}

footer {
    z-index: 99999 !important;
}

/* Backgrounds and font colours */

.bg-frame {
    background-image: url(/static/images/container-img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 0% 2%;
    height: 67vh !important;
    margin: 1vh auto 0 auto;
}

.bg-purple {
    background-color: #50304a;
}
.grey-banner {
    background-color: #2F2F2F;
}

.text-secondary {
    color: #7D7D7D!important;
}

.text-prpl {
    color: #50304a !important;
}

/* Buttons */

.btn-black {
    background-color: black !important;
    color: white !important;
}

.btn-black:hover {
    background-color: #2F2F2F !important;
}

.btn-black:focus {
    background-color: #50304a !important;
}

.button-bl-prpl {
    background-color: black !important;
    border: 4px solid #50304a !important;
    color: white !important;
}

/* Scroll bar */

::-webkit-scrollbar {
    position: absolute;
    width: 0.7em;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #50304a74 !important;
    width: 0.7em;
}

::-webkit-scrollbar-track-piece {
    display:none !important;
}
  

/* Homepage */

.home-container {
    z-index: 9999 !important;
    float: left;
    padding-left: 15%;
    color: white;
    margin-top: 37vh !important;
    backdrop-filter: blur(1px);
}

.carousel .one {
    background: linear-gradient(rgba(255, 255, 255, 0.062), #00000081), url('/static/images/newsletter.webp') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -moz-background-size: contain !important;
    height: 70vh !important;
    max-width: 100vw !important;
    bottom: 0;
}

.carousel .two {
    background: linear-gradient(rgba(255, 255, 255, 0.062), #00000081), url('/static/images/shop-new.webp') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -moz-background-size: contain !important;
    height: 70vh !important;
    max-width: 100vw !important;
}

.carousel .three {
    background: linear-gradient(rgba(255, 255, 255, 0.062), #00000081), url('/static/images/shop-shoes.webp') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -moz-background-size: contain !important;
    height: 70vh !important;
    max-width: 100vw !important;
}

/* Forms */

label {
    visibility: hidden !important;
    height: 0;
    font-size: x-small !important;
}

label[for="id_remember"] {
    visibility: visible !important;
    height: unset;
}

input {
    border: 2px solid black !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    background: white !important;
}

input:focus {
    box-shadow: 3px 3px 20px #50304a !important;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem !important;
    margin-left: -1.25rem !important;
}

input[type="checkbox"] {
    accent-color: #50304a !important;
}

.form-group {
    margin: 0 auto !important;
    width: 25% !important;
}

/* Media queries */

@media (min-width: 2000.99px) {
    header, footer {
        font-size: xx-large !important;
    }
    
    button {
        height: calc(1.5em + 0.75rem + 2px);
        font-size: xx-large !important;
    }

    .bg-frame {
        margin-top: 3%;
    }

    .main-content {
        padding: 4% !important;
        font-size: xx-large !important;
    }

    form {
        font-size: x-large !important;
    }

    label[for="id_remember"] {
        font-size: x-large !important;
    }

    input {
        font-size: xx-large !important;
    }

    .small-font {
        font-size: x-large !important;
    }

    h1 {
        font-size: 200% !important;
    }

    h6 {
        font-size: xx-large !important;
    }
}

@media (max-width: 1083px){
    .form-control-lg {
        width: 75% !important;
    }
}

@media (max-width: 991px) {
    .dropdown { 
        position: static !important; 
    } 

    .dropdown-menu {
        margin-left: -20vw !important;
        margin-right: -20vw !important;
        min-width: 100vw !important;
        text-align: center !important;
}

    .carousel .one, .carousel .two, .carousel .three {
        background-size: 360% !important;
        background-position: top;
        height: 85vh !important;
    }

    .bg-frame {
        height: 45vh !important;
    }

    .main-content {
        margin-top: 2vh !important;
        z-index: 0 !important;
    }

    .allauth-frames {
        margin-top: 8vh !important;
        height: 60vh !important;

    }

    .allauth-frames .main-content {
        padding: 2% !important;
    }

    .form-group {
        width: 35% !important;
    }
}

@media (max-width: 576px) {
    .carousel .one, .carousel .two, .carousel .three {
        height: 77vh !important;
        background-size: cover;
    }

    .home-container {
        margin-top: 35vh !important;
        padding: 1%;
    }

    .bg-frame {
        background-image: url(/static/images/container-img-mobile.webp);
        height: 74vh !important;
    }

    .main-content {
        margin-top: 3vh !important;
    }

    .allauth-frames {
        margin-top: 0 !important;
    }

    .form-group {
        width: 67% !important;
    }
}

@media (max-width: 320px) {    
    .home-container {
        margin-top: 30vh !important;
        padding: 0;
    }

    .bg-frame {
        height: 80vh !important;
        background-position: top;
        margin-top: 3vh !important;
    }

    allauth-frames .main-content {
        padding: 1% !important;
    }
}

@media (max-width: 292px) {
    footer ul > .list-inline-item, .mobile-menu {
        margin: 0 !important;
        padding: 0 !important;
    }

    .bg-frame {
        background-image: none !important;
        background-color: white;
    }

    .main-content {
        margin-top: 1vh !important;
    }

}