{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "500- -Internal Server Error" %}{% endblock %}

{% block content %}

    <div class="bg-darkground text-center text-light d-flex flex-column align-content-center">

        <div class="main-content m-auto">
            <h1 class="display-1 text-prpl">500</h1>
            <h2 class="pt-2 pb-4">Internal Server Error!</h2>
            <p class="px-3 border-top border-light font-italic">
                We're sorry, something isn't quite right on our side!<br>
                Please be patient while we try to fix it.
            </p>
            <a href="{% url 'home' %}">
                <button class="mx-auto btn btn-lg button-bl-prpl text-light megrim rounded-lg-0 px-4 my-1" 
                        type="button">
                    Take me back home!
                </button>
            </a>
        </div>
    </div>
    
{% endblock %}