{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="bg-frame allauth-frames">
  <div class="frame-content">
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <small>
      <p class="text-secondary">

        {% blocktrans with site.name as site_name %}

        Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:

        {% endblocktrans %}

      </p>
    </small>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">

        {% include "socialaccount/snippets/provider_list.html" with process="login" %}

      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}

    <p class="text-secondary">
      
      {% blocktrans %}

      <small>
        Please enter your email and password. <br>
        Don't have an account yet? 
          <a href="{{ signup_url }}" class="text-secondary"><u>Sign up!</u></a>  
      </small>

      {% endblocktrans %}

    </p>

    {% endif %}

    <form class="login rounded-0" method="POST" action="{% url 'account_login' %}">

      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}#

      <input class="border border-dark" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>

      {% endif %}
      
      <button class="primaryAction btn button-bl-prpl px-5 uppercase megrim rounded-0 d-block mx-auto" type="submit">
        {% trans "Log In" %}
      </button>
      <a class="button secondaryAction text-prpl small-font" href="{% url 'account_reset_password' %}">
        {% trans "Forgot your password?" %}
      </a>
    </form>
  </div>
</div>

{% endblock %}
