{% extends "base.html" %}

{% load i18n %}

{% load crispy_forms_filters %} 
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<div class="text-white mt-5 p-3 text-center">
    <h1 class="py-2">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn button-bl-prpl m-4 py-2 px-5 uppercase megrim rounded-0 d-block mx-auto" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock %}
