{% load static %}


<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="goth clothing, online thrift shop, alternative thrift store, alt fashion, goth shop online, alternative vintage, sustainable clothing, online thrifting, gothic clothing, goth fashion">
    <meta name="description" content="Bat Choice Clothing is an online goth and alternative ladies fashion thrift store. Make sustainable choices and stand out form the crowd!">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f5fb20c689.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Bat Choice Clothing {%block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top bg-white"></header>

      {% if messages %}
      <div class="message-container">
        <ul class="container-fluid alert-dismissible fade show alert-info" role="alert">
          {% for message in messages %}
            <li class="p-3 list-unstyled alert">
              {{message}}
              <button type="button" class="close my-auto" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div id="navbar-top" class="row d-none d-lg-flex p-lg-2 w-100">
        <div class="col-4 my-auto">
          <ul class="list-inline list-unstyled text-center float-lg-left p-2 mt-2 mb-0">
            <li class="list-inline-item"> 
              <a class="{% if grand_total %} text-dark font-weight-bold{% else %}text-dark{% endif %} py-0 nav-link" href="">   
                <i class="fa-solid fa-bag-shopping text-dark"></i>             
                <div class="text-center">
                  <p class="my-0">
                    <small>
                      {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                      {% else %}
                        0.00€
                      {% endif %}
                    </small>
                  </p>
                </div>
              </a>
            </li>
            <li class="list-inline-item dropdown">
              <a class="text-dark nav-link py-0" href="" id="user-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
                <div class="text-center">
                  <p class="my-0 text-uppercase">
                    <small>My Profile</small>
                  </p>
              </a>
              <div class="dropdown-menu rounded-0 text-dark" aria-labelledby="user-toggle">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="#" class="dropdown-item"><strong>Manage Products</strong></a>
                    {% endif %}
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a>
                {% endif %}
              </div>
            </li>
        </div>
        <div class="col-4 m-auto text-center">
          <a href="{% url 'home' %}" class="mx-auto">
            <img src="{% static 'images/logo.webp'%}" alt="Logo" width="300" height="58">
          </a>
        </div>
        <div class="col-4 my-auto">
          <form class="form-inline float-right">
            <input class="form-control-lg rounded-0 border-dark" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-black rounded-0 btn-lg" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100 p-0">
          <div class="col-7 my-auto float-left d-lg-none">
            <a href="{% url 'home' %}" class="p-2">
              <img src="{% static 'images/logo.webp'%}" alt="Logo" width="200" height="38">
            </a>
          </div>
            <button class="navbar-toggler border-0 mr-3" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navbar">
                <span class="navbar-toggler-icon text-dark mx-auto p-3"></span>
            </button>
            {% include 'includes/header-mobile.html' %}
            {% include 'includes/main-navbar.html' %}
        </nav>
      </div>
      <div id="info-banner" class="row text-center">
        <div class="col bg-purple text-white text-uppercase">
          <h6 class="my-2"><strong>Free shipping</strong> on orders over 100€!</h6>         
        </div>            
      </div>      
    </header>
    
    <main class="container-fluid">
    {% block content %}
    {% endblock %}
    </main>

    <footer class="container-fluid w-100 p-3 fixed-bottom">
      <div class="fixed-bottom text-center">
        <ul class="list-inline mb-1 mx-auto">
          <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="text-secondary mr-5"><i class="fa-brands fa-square-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="text-secondary mx-5"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
              <a href="https://twitter.com/" target="_blank" rel="noopener" class="text-secondary ml-5"><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>
      </ul>
      </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}
    
  </body>
</html>