/* Checkout */

.product-capper {
    width: 50%;
}

.checkout-products {
    height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.order-buttons-container {
    width: 42vw;
}

.icon {
    font-size: smaller;
}

.discount label {
    width: 1px !important;
}


/* Stripe */

.StripeElement {
  box-sizing: border-box;
  border: 2px solid black;
  height: calc(1.5em + .75rem + 2px);
  line-height: 1.5em;
  border-radius: 0px;
  background-color: white;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 3px 3px 15px #7e0167, -3px -3px 10px #7e0167 !important;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-element {
    padding-top: 0.5em;
    padding-left: 0.2em;
}


/* Payment loading overlay */

#checkout-loading {
    background: #2717246b;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
}

.spinner {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;    
}