/* Checkout */

.product-capper {
    width: 50%;
}

.checkout-products {
    height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.order-buttons-container {
    width: 40vw !important;
}

.icon {
    font-size: smaller;
}


/* Form */

#pay_form fieldset {
    margin: 0 auto !important;
}

#pay_form input, #pay_form fieldset, .stripe-style-input {
    width: 40vw !important;    
}

#pay_form input[type="checkbox"] {
    width: unset !important;
}

.discount label {
    width: 1px !important;
}


/* Stripe */

.StripeElement {
  box-sizing: border-box;
  height: 40px !important;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 3px 3px 20px #50304a !important;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}
