/* Bag */

.table-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.bag, .bag-item {
    padding: 1.5rem 2.3rem;
}

.remove-product {
    cursor: pointer !important;
    padding-bottom: 1.1rem
}
