{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% load crispy_forms_filters %} 
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Product Management" %}{% endblock %}


{% block content %}

<div class="bg-darkground text-light">
    <h2 class="display-4 text-center uppercase my-4">Product Management</h2>
    <h2 class="text-prpl text-center uppercase mb-2">Edit Product</h2>
    <div class="row mb-5 text-left text-center p-3">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <form action="{% url 'edit_product' product.id %}" class="product-form text-left" method="post" enctype="multipart/form-data">
                
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <div class="text-center mb-5">
                    <a href="{% url 'products' %}" class="btn btn-lg m-lg-5 m-sm-2">
                        <span>
                            <i class="fa-solid fa-arrow-left text-prpl"></i>
                        </span>
                        <span class="megrim text-light text-uppercase font-weight-bold">Back</span>
                    </a>
                    <button type="submit" class="btn btn-lg m-lg-5 m-sm-2">
                        <span>
                            <i class="fa-solid fa-check text-prpl "></i>
                        </span>
                        <span class="megrim text-light text-uppercase font-weight-bold">Update</span>
                    </button>

                </div>
        
            </form>
        </div>
    </div>

{% endblock %}    
   